@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background: #121212;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-container .image img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #00bcd4;
    box-shadow: 0 4px 8px rgba(0, 188, 212, 0.5);
    margin-bottom: 20px;
    animation: rotate 10s linear infinite;
}

.image-container h1 {
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.image-container p {
    color: #b0bec5;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 50px;
    border-radius: 25px;
    background: rgba(202, 253, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 188, 212, 0.2);
}

.talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.talk i {
    color: #00bcd4;
}

.talk:hover {
    transform: scale(1.1);
    color: #00e5ff;
}

.content {
    color: #b0bec5;
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
}
/* Exemplo básico de CSS para o menu lateral */
.side-menu {
    position: fixed;
    left: -250px; /* Inicialmente escondido fora da tela */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    color: white;
    transition: left 0.3s;
    overflow: auto;
}

.side-menu.active {
    left: 0; /* Mostrar menu lateral quando a classe active é adicionada */
}

#command-list,h2{
color: #00e5ff;
position: relative;
left: 10%;
}